.cursor {
    cursor: pointer;
}
.button-text {
    color: #4D5AE5;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;

}
.project-name {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}
.type-of-project {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}